@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark{
  --line-color: #f5e7eb88;
}

.border_black_10 {
  @apply border border-black/10;
}
.skill-logo{
  filter: grayscale();
  opacity: 0.4;
  transition: filter 0.3s, opacity 0.3s;
}
.skill-logo:hover{
  filter: none;
  opacity: 1;
}